* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', 'Arial', sans-serif;
}
/* 
@font-face {
  font-family: 'Moontime';
  src: url('./assets/fonts/MoonTime-Regular.ttf'),
        url('./assets/fonts/MoonTime-Regular.otf')
} */

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;  
}

.main .container {
  display: flex;
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

/* MAIN */

section.main { 
  background-image: url('./assets/background-header.jpeg');
  background-position: center;
  background-size: cover;
  padding: 20px 0 100px;
}

.main .logo img:nth-of-type(1) {
  max-width: 200px;
  margin: 0 auto;
}

.main .flex {
  display: flex;
  flex-direction: column;
}

.main .flex .form {
  width: 50%;
  margin: 20px auto 0;
}

.form h3 {
  font-size: 19px;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

.form h3 .success {
  color: #94f443;
  font-family: 'Oswald', sans-serif;
}

.form > p, .form > p > b {
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Oswald', sans-serif;
}

.form .date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form .date img {
  width: 80px;
}

.form .date p {
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  padding: 2px 10px;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
}

.form .date span {
  font-size: 20px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

.form .email {
  background: #fff;
  color: #000;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border-radius: 24px;
  margin-top: 10px;
}


.form form span {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}


.form .email h4 {
  text-align: center;  
  font-size: 20px;
}

.form .email .regressive {
  width: 100%;
  display: flex;
  margin: 20px 0;
}

.form .email .regressive div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 50px;
  margin: 0px 5px;
}

.form .email input[type="email"] {
  border-radius: 50px;
  padding-left: 20px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
  height: 45px;
  outline: none;
}

.form .email input[type="text"] {
  border-radius: 50px;
  padding-left: 20px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
  height: 45px;
  outline: none;
}

.form .email #button {
  cursor: pointer;
  display: block;
  border-radius: 50px;
  width: 100%;  
  background-image: linear-gradient(rgb(0, 0, 0),#525751);
  border: 1px solid #293028;
  color: #fff;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 1.1px;
  font-size: 16px;
}

.form .email #button:hover {
  background-image: linear-gradient(rgb(0, 0, 0),#354232);
  border: 1px solid #535c52;
}

.form .email #button.remove {
  display: none;
}

.form .email #whatsapp {
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 50px;
  width: 100%;  
  background-image: linear-gradient(#64d53e,#52b346);
  border: 1px solid #52b247;
  color: #fff;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 1.1px;
  font-size: 16px;
}

.form .email #whatsapp.apper {
  display: flex;
}

.form .email #whatsapp:hover {
  background-image: linear-gradient(#3cb414,#36812d);
  border: 1px solid #26831c;
}


.aulas {
  margin-bottom: 60px;
}


.aulas header {
  width: 100%;
  padding: 20px 0;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}


.aulas header h1 {
  font-size: 40px;
  font-style: italic;
  color: #ffeb99;
  margin-bottom: 40px;
}

.aulas header p {
  color: #fff;
  font-size: 22px;
}

.aulas .aula {
  display: flex;
}

.aula .aula-item{
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.aula .aula-item p{
  max-width: 400px;
  margin: 0 auto;
  color: rgb(73 138 208);
}

.aula .aula-item h2 {
  margin: 20px 0 5px;
  color: rgb(1 1 78);
}

.aula .aula-item img {
  border-radius: 20px;
}

.professor {
  background-image: url('./assets/background-prof.jpeg');
  background-position: center;
  background-size: cover;
}

.felippe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.felippe img.mentor {
  position: relative;
  top: 3px;
}

.felippe .description {
  text-align: center;
  width: 600px;
  padding: 10px;
  border: 4px solid #fff;  
  color: #fff;
  z-index: 2;
  -webkit-box-shadow: 6px 7px 18px -5px rgba(56,183,222,1);
  -moz-box-shadow: 6px 7px 18px -5px rgba(56,183,222,1);
  box-shadow: 6px 7px 18px -5px rgba(56,183,222,1);
}

.felippe .description p {  
  max-width: 500px;
  text-align: center;
  margin: 0 auto 20px;
  font-size: 17px;
}

.felippe .description h2 {
  color: #64d53e;
  padding: 5px 0;
  font-size: 26px;
  font-family: 'Oswald', cursive;
}

.felippe .description h3 {
  color: #fff;
  padding: 5px 0;
}

.professor {
  padding: 20px 0 40px;
}

.logo-felippe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.logo-felippe .quem-vai-ser {
  display: flex;
  position: relative;
  top: 10px;
}

.logo-felippe .quem-vai-ser img:nth-of-type(1) {
  max-width: 500px;
}

.logo-felippe .quem-vai-ser img:nth-of-type(2) {
  max-width: 300px;
}


.logo-felippe .img-jornada img{
  max-width: 1000px;
}

footer {
  width: 100%;
  background: rgb(0, 0, 37);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer img {
  max-width: 80px;
  margin-bottom: 20px;
}

footer p {
  text-align: center;
  color: #fff;
}

.felippe > h3 {
  display: none;
}


/* MEDIA SCREEN */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 5px;
  }

  .form h3 {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .form .email h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .form .date p,
  .form .date span {
    font-size: 14px;
  }

  .space {
    display: none;
  }

  .aula {
    flex-direction: column;
  }

  .form .email {
    max-width: 300px;
    margin: 15px auto 0;
  }

  .felippe .description p {
    max-width: 300px;
  }

  .professor .quem {
    padding: 40px 0 30px;
  }

  .professor .quem h1 {
    flex-direction: column;
  }

  .professor .quem h1 img{
    max-width: 50px;
    margin-left: 0;
    margin-top: 16px;
  }

  .felippe .description {
    max-width: 300px;
    border-radius: unset;
  }


  .form .email #button {
    font-size: 10px;
  }

  .professor .quem h1 {
    font-size: 16px;
  }

  .felippe img.mentor {
    max-width: 300px;
  }

  .felippe .quem-vai-ser {
    display: flex;
  }

  
  p, span {
    font-size: 16px;
  }

  .hours p, .hours span, .minutes p, .minutes span, .seconds p, .seconds span, .hours span {
    font-size: 12px;
  }


  .main .container {
    align-items: unset;
    flex-direction: column;
  }

  #pull {
    display: block;
    height: 250px;
  }

  .main .flex .form {
    width: 100%;
  }

  .form .email input[type="email"],
  .form .email input[type="text"]
  {
    height: 30px;
  }

  .form .email #button {
    padding: 10px;
  }

  .hours, .minutes, .seconds {
    height: 30px;
  }

  .aulas header {
    text-align: center;
  }

  .aulas header h1 {
    font-size: 16px;
  }
  .aulas header {
    padding: 20px;
  }

  .aulas header p {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    max-width: 300px;
    margin: 0 auto;
  }

  .logo-felippe .quem-vai-ser img:nth-of-type(1) {
    max-width: 250px;
  }
  
  .logo-felippe .quem-vai-ser img:nth-of-type(2) {
    max-width: 125px;
  }
  
  .logo-felippe .img-jornada img{
    max-width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .logo-felippe .quem-vai-ser img:nth-of-type(1) {
    max-width: 200px;
  }
  
  .logo-felippe .quem-vai-ser img:nth-of-type(2) {
    max-width: 100px;
  }
  
  .logo-felippe .img-jornada img{
    max-width: 300px;
  }
}