* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', 'Arial', sans-serif;
}
/* 
@font-face {
  font-family: 'Moontime';
  src: url('./assets/fonts/MoonTime-Regular.ttf'),
        url('./assets/fonts/MoonTime-Regular.otf')
} */

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;  
}

.main .container {
  height: 100vh;
  display: flex;
  align-items: flex-end;  
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

/* MAIN */

section.main { 
  background-image: url('./assets/background-desktop.jpeg');
  background-position: center;
  background-size: 100% 100%;
  min-height: calc(100vh + 200px);
  height: auto;
}

.main .logo {
  padding: 20px 0;
}

.main .logo img {
  width: 80px;
  margin: 0 auto;
}

.main .flex {
  display: flex;
  position: relative;
  top: 60px;
}

.main .flex .form {
  width: 50%;
  margin: 0 auto;
}

.form h3 {
  font-size: 21px;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Bungee', cursive;
}

.form h3 .success {
  color: #94f443;
  font-family: 'Bungee', cursive;
}

.form > p, .form > p > b {
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Bungee', cursive;
}

.form .date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form .date img {
  width: 80px;
}

.form .date p {
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  padding: 2px 10px;
  border-radius: 10px;
  font-family: 'Bungee', cursive;
}

.form .date span {
  font-size: 20px;
  color: #fff;
  font-family: 'Bungee', cursive;
}

.form .email {
  background: #fff;
  color: #000;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border-radius: 24px;
  margin-top: 10px;
}

.form .email h4 {
  text-align: center;  
  font-size: 20px;
}

.form .email .regressive {
  width: 100%;
  display: flex;
  margin: 20px 0;
}

.form .email .regressive div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 50px;
  margin: 0px 5px;
}

.form .email input[type="email"] {
  border-radius: 50px;
  padding-left: 20px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
  height: 45px;
  outline: none;
}

.form .email input[type="text"] {
  border-radius: 50px;
  padding-left: 20px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
  height: 45px;
  outline: none;
}

.form .email #button {
  cursor: pointer;
  display: block;
  border-radius: 50px;
  width: 100%;  
  background-image: linear-gradient(#64d53e,#52b346);
  border: 1px solid #52b247;
  color: #fff;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 1.1px;
  font-size: 16px;
}

.form .email #button:hover {
  background-image: linear-gradient(#3cb414,#36812d);
  border: 1px solid #26831c;
}


.aulas {
  margin-bottom: 60px;
}


.aulas header {
  width: 100%;
  padding: 20px 0;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}


.aulas header h1 {
  font-size: 40px;
  color: #ffeed4;
  margin-bottom: 40px;
  text-shadow: 2px 0 0 #e7a036, -2px 0 0 #e7a036, 0 2px 0 #e7a036, 0 -2px 0 #e7a036, 1px 1px #e7a036, -1px -1px 0 #e7a036, 1px -1px 0 #e7a036, -1px 1px 0 #fff;
}

.aulas header p {
  color: #fff;
  font-size: 22px;
}

.aulas .aula {
  display: flex;
}

.aula .aula-item{
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.aula .aula-item p{
  max-width: 400px;
  margin: 0 auto;
  color: rgb(73 138 208);
}

.aula .aula-item h2 {
  margin: 20px 0 5px;
  color: rgb(1 1 78);
}

.aula .aula-item img {
  border-radius: 20px;
}

.professor {
  min-height: calc(100vh + 210px);
  background-image: url('./assets/foooter/footer3.jpeg');
  background-position: center;
  background-size: cover;
}

.felippe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 240px;
}

.felippe img {
  position: relative;
  top: 3px;
}

.felippe .description {
  text-align: center;
  width: 600px;
  padding: 10px;
  border: 4px solid #fff;  
  color: #fff;
  z-index: 2;
  -webkit-box-shadow: 6px 7px 18px -5px rgba(56,183,222,1);
  -moz-box-shadow: 6px 7px 18px -5px rgba(56,183,222,1);
  box-shadow: 6px 7px 18px -5px rgba(56,183,222,1);
}

.felippe .description p {  
  max-width: 500px;
  text-align: center;
  margin: 0 auto 20px;
}

.felippe .description h2 {
  color: #64d53e;
  padding: 5px 0;
  font-family: 'Bungee', cursive;
}

.felippe .description h3 {
  color: #fff;
  padding: 5px 0;
}

.professor .quem {
  display: flex;
  justify-content: center;
  padding: 80px 0 20px;
  color: #fff;  
}

.professor .quem h1 {
  display: flex;
  align-items: center;
  font-size: 6em;
}

.professor .quem h1 img {
  max-width: 100px;
  margin-left: 100px;
}

#pull {
  display: none;
}

footer {
  width: 100%;
  background: rgb(0, 0, 37);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -100px;
}

footer img {
  max-width: 80px;
  margin-bottom: 20px;
}

footer p {
  text-align: center;
  color: #fff;
}

.felippe > h3 {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 5px;
  }

  .form h3 {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .form .email h4 {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .form .date p,
  .form .date span {
    font-size: 12px;
  }

  .space {
    display: none;
  }

  .aula {
    flex-direction: column;
  }

  .form .email {
    max-width: 300px;
    margin: 15px auto 0;
  }

  .felippe {
    height: auto;
    top: 0;
  }

  .felippe .description p {
    max-width: 300px;
  }

  /* .felippe > h3 {
    display: block;
    font-family: 'Moontime';
    font-size: 40px;
    color: rgb(0, 127, 150);
    text-shadow: 2px 0 0 rgb(161, 241, 255), -2px 0 0 rgb(161, 241, 255), 0 2px 0 rgb(161, 241, 255), 0 -2px 0 rgb(161, 241, 255), 1px 1px rgb(161, 241, 255), -1px -1px 0 rgb(161, 241, 255), 1px -1px 0 rgb(161, 241, 255), -1px 1px 0 #fff;
  } */
  
  .professor {
    background-image: url('./assets/background-footer.jpeg');
  }

  .professor .quem {
    padding: 40px 0 30px;
  }

  .professor .quem h1 {
    flex-direction: column;
  }

  .professor .quem h1 img{
    max-width: 50px;
    margin-left: 0;
    margin-top: 16px;
  }

  .felippe .description {
    max-width: 300px;
    border-radius: unset;
  }


  .form .email #button {
    font-size: 10px;
  }

  .professor .quem h1 {
    font-size: 16px;
  }

  .felippe img {
    max-width: 300px;
  }

  p, span {
    font-size: 12px;
  }

  section.main {
    background-image: url('./assets/mobile3.jpeg');
    position: relative;
  }

  .main .container {
    align-items: unset;
    flex-direction: column;
  }

  #pull {
    display: block;
    height: 250px;
  }

  .main .flex .form {
    width: 100%;
  }

  .form .email input[type="email"],
  .form .email input[type="text"]
  {
    height: 30px;
  }

  .form .email input[type="text"] {
    display: inline-block;
    width: 48%;
  }

  .form .email #button {
    padding: 10px;
  }

  .hours, .minutes, .seconds {
    height: 30px;
  }

  .date {
    height: 30px;
  }

  .aulas header {
    text-align: center;
  }

  .aulas header h1 {
    font-size: 16px;
  }
  .aulas header {
    padding: 20px;
  }

  .aulas header p {
    font-size: 14px;
  }
}



@media screen and (max-height: 800px) {
  #pull {
    height: 145px;
  }
}